# ANALYSIS

## Question to be answered

We want to answer the question: How are the immigrants in Barcelona in each District?

To answer that we will focus on:
- Immigrants in Barcelona by Age and District
- Immigrants in Barcelona by Gender and District
- Immigrants in Barcelona by Nationality and District

And after that, we will compare this data with the population of Barcelona by District

In [47]:
# First thing, we import pandas and numpy:
import pandas as pd
import numpy as np

In [48]:
# Now we import our csv to start analysing it:
n = pd.read_csv('/Users/andressalomferrer/Desktop/ironhack/Projects/Project-Week-2-Barcelona/datasets/nationality_cleaned.csv')

In [49]:
# We will type 'n.dtypes' to understand with which kind of data are we working
n.dtypes

Unnamed: 0        int64
Year              int64
District Name    object
Nationality      object
Number            int64
dtype: object

In [50]:
#Deleting first column and Year because we do not need them.
n.drop(['Unnamed: 0', 'Year'], axis=1, inplace=True)

In [51]:
n.head()

  District Name Nationality  Number
0  Ciutat Vella       Spain    1109
1  Ciutat Vella       Spain     482
2  Ciutat Vella       Spain     414
3  Ciutat Vella       Spain     537
4      Eixample       Spain     663

In [52]:
#Now we want to group by District Name and Nationality

n = n.groupby(['District Name', 'Nationality']).sum()

In [53]:
#And next step is to delete all the rows where there are no number of immigrants
n=n.loc[n['Number']!=0]

In [54]:
#Sorting the data to get the highest number of immigrants by disctric
n=n.groupby(level=0, group_keys=False).apply(lambda x: x.sort_values(['Number'], ascending=False))

In [55]:
#Getting the top 9 nationalities by district
n_l= n.groupby(level=0, group_keys=False)['Number'].apply(lambda x: x.nlargest(9))
pd.DataFrame(n_l, index=None)

                                                        Number
District Name       District Name       Nationality
Ciutat Vella        Ciutat Vella        Spain             2542
                                        Italy             1275
                                        Pakistan           998
                                        France             596
                                        Bangladesh         566
                                        Morocco            434
                                        United Kingdom     393
                                        Philippines        368
                                        India              364
Eixample            Eixample            Spain             6560
                                        Italy             1568
                                        China              918
                                        Colombia           781
                                        Venezuela          724
                                        France             665
                                        Argentina          517
                                        Brasil             479
                                        Peru               478
Gràcia              Gràcia              Spain             2944
                                        Italy              598
                                        France             277
                                        Colombia           200
                                        Venezuela          189
                                        Argentina          166
                                        United Kingdom     151
                                        Brasil             148
                                        Peru               146
Horta-Guinardó      Horta-Guinardó      Spain             3255
                                        Italy              413
                                        Honduras           365
...                                                        ...
Sant Andreu         Sant Andreu         Pakistan           207
                                        Venezuela          192
                                        Morocco            162
Sant Martí          Sant Martí          Spain             4726
                                        Italy              798
                                        Pakistan           629
                                        China              606
                                        Colombia           375
                                        Venezuela          355
                                        Peru               299
                                        Russia             280
                                        Brasil             264
Sants-Montjuïc      Sants-Montjuïc      Spain             4219
                                        Italy              684
                                        China              512
                                        Colombia           431
                                        Pakistan           422
                                        Peru               365
                                        Venezuela          334
                                        India              318
                                        Morocco            311
Sarrià-Sant Gervasi Sarrià-Sant Gervasi Spain             3425
                                        Italy              396
                                        France             315
                                        United States      263
                                        Venezuela          215
                                        China              163
                                        Colombia           128
                                        United Kingdom     126
                                        Russia             119

[91 rows x 1 columns]

In [23]:
nlarg

                                 Number
District Name       Nationality
Eixample            Spain          6560
Sant Martí          Spain          4726
Sants-Montjuïc      Spain          4219
Sarrià-Sant Gervasi Spain          3425
Horta-Guinardó      Spain          3255
Nou Barris          Spain          3013
Gràcia              Spain          2944
Sant Andreu         Spain          2713
Ciutat Vella        Spain          2542

In [11]:
def rest(x):
    return x.iloc[9:].sum()

In [12]:
n_others = n.groupby('District Name', group_keys=False).apply(rest)

In [13]:
n_others

                     Number
District Name
Ciutat Vella         5075.0
Eixample             6357.0
Gràcia               2435.0
Horta-Guinardó       2410.0
Les Corts            1383.0
No consta               0.0
Nou Barris           2256.0
Sant Andreu          1801.0
Sant Martí           4388.0
Sants-Montjuïc       4087.0
Sarrià-Sant Gervasi  2077.0

In [18]:
sumaCV = int(n_others.loc['Ciutat Vella']) + int(n_9.loc['Ciutat Vella'].sum())

In [19]:
sumaCV

17686

In [20]:
TCV= int(n.loc['Ciutat Vella'].sum())

In [21]:
TCV

12611

In [ ]:
test_9largest.reset_index()

In [ ]:
np.insert(test_9largest.reset_index(), [0,9], test_other.iloc[1])

In [ ]:
bla = test_9largest.copy()

In [ ]:
test_other.columns = ['Other']

In [ ]:
test_other

In [30]:
for district in nlargest.index:
    nlargest.loc[]

SyntaxError: invalid syntax (<ipython-input-30-a9f0f9677e32>, line 2)