In [26]:
import pandas as pd

In [27]:
nationality = pd.read_csv('/Users/andressalomferrer/Desktop/ironhack/Projects/Project-Week-2-Barcelona/datasets/3.-Population/immigrants-by-nationality.csv')

In [28]:
nationality

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Nationality,Number
0,2017,1,Ciutat Vella,1,el Raval,Spain,1109
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Spain,482
2,2017,1,Ciutat Vella,3,la Barceloneta,Spain,414
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Spain,537
4,2017,2,Eixample,5,el Fort Pienc,Spain,663
5,2017,2,Eixample,6,la Sagrada Família,Spain,1181
6,2017,2,Eixample,7,la Dreta de l'Eixample,Spain,1063
7,2017,2,Eixample,8,l'Antiga Esquerra de l'Eixample,Spain,1177
8,2017,2,Eixample,9,la Nova Esquerra de l'Eixample,Spain,1593
9,2017,2,Eixample,10,Sant Antoni,Spain,883
10,2017,3,Sants-Montjuïc,11,el Poble Sec,Spain,826
11,2017,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Spain,23
12,2017,3,Sants-Montjuïc,13,la Marina de Port,Spain,574
13,2017,3,Sants-Montjuïc,14,la Font de la Guatlla,Spain,264
14,2017,3,Sants-Montjuïc,15,Hostafrancs,Spain,410
15,2017,3,Sants-Montjuïc,16,la Bordeta,Spain,434
16,2017,3,Sants-Montjuïc,17,Sants - Badal,Spain,605
17,2017,3,Sants-Montjuïc,18,Sants,Spain,1083
18,2017,4,Les Corts,19,les Corts,Spain,1027
19,2017,4,Les Corts,20,la Maternitat i Sant Ramon,Spain,630
20,2017,4,Les Corts,21,Pedralbes,Spain,298
21,2017,5,Sarrià-Sant Gervasi,22,"Vallvidrera, el Tibidabo i les Planes",Spain,91
22,2017,5,Sarrià-Sant Gervasi,23,Sarrià,Spain,541
23,2017,5,Sarrià-Sant Gervasi,24,les Tres Torres,Spain,363
24,2017,5,Sarrià-Sant Gervasi,25,Sant Gervasi - la Bonanova,Spain,587
25,2017,5,Sarrià-Sant Gervasi,26,Sant Gervasi - Galvany,Spain,1146
26,2017,5,Sarrià-Sant Gervasi,27,el Putxet i el Farró,Spain,697
27,2017,6,Gràcia,28,Vallcarca i els Penitents,Spain,347
28,2017,6,Gràcia,29,el Coll,Spain,171
29,2017,6,Gràcia,30,la Salut,Spain,283
...,...,...,...,...,...,...,...
35194,2015,8,Nou Barris,45,Porta,No information,0
35195,2015,8,Nou Barris,46,el Turó de la Peira,No information,0
35196,2015,8,Nou Barris,47,Can Peguera,No information,0
35197,2015,8,Nou Barris,48,la Guineueta,No information,0
35198,2015,8,Nou Barris,49,Canyelles,No information,0
35199,2015,8,Nou Barris,50,les Roquetes,No information,0
35200,2015,8,Nou Barris,51,Verdun,No information,0
35201,2015,8,Nou Barris,52,la Prosperitat,No information,0
35202,2015,8,Nou Barris,53,la Trinitat Nova,No information,0
35203,2015,8,Nou Barris,54,Torre Baró,No information,0
35204,2015,8,Nou Barris,55,Ciutat Meridiana,No information,0
35205,2015,8,Nou Barris,56,Vallbona,No information,0
35206,2015,9,Sant Andreu,57,la Trinitat Vella,No information,0
35207,2015,9,Sant Andreu,58,Baró de Viver,No information,0
35208,2015,9,Sant Andreu,59,el Bon Pastor,No information,0
35209,2015,9,Sant Andreu,60,Sant Andreu,No information,1
35210,2015,9,Sant Andreu,61,la Sagrera,No information,1
35211,2015,9,Sant Andreu,62,el Congrés i els Indians,No information,0
35212,2015,9,Sant Andreu,63,Navas,No information,0
35213,2015,10,Sant Martí,64,el Camp de l'Arpa del Clot,No information,0
35214,2015,10,Sant Martí,65,el Clot,No information,1
35215,2015,10,Sant Martí,66,el Parc i la Llacuna del Poblenou,No information,2
35216,2015,10,Sant Martí,67,la Vila Olímpica del Poblenou,No information,1
35217,2015,10,Sant Martí,68,el Poblenou,No information,1
35218,2015,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,No information,0
35219,2015,10,Sant Martí,70,el Besòs i el Maresme,No information,0
35220,2015,10,Sant Martí,71,Provençals del Poblenou,No information,0
35221,2015,10,Sant Martí,72,Sant Martí de Provençals,No information,0
35222,2015,10,Sant Martí,73,la Verneda i la Pau,No information,1
35223,2015,99,No consta,99,No consta,No information,0

In [19]:
nationality_clean = nationality.loc[(nationality.Year == 2017),['Year', 'District Name','Nationality','Number']]

In [84]:
nationality_clean.head()

   Year District Name Nationality  Number
0  2017  Ciutat Vella       Spain    1109
1  2017  Ciutat Vella       Spain     482
2  2017  Ciutat Vella       Spain     414
3  2017  Ciutat Vella       Spain     537
4  2017      Eixample       Spain     663

In [88]:
###parte de analisis = primero group by disctrict and nationality
temp_df = nationality_clean.groupby(['District Name', 'Nationality']).sum().drop('Year', axis=1)

In [116]:
temp_df.head()
#vemos que ahora tenemos todos los disctricts y luego todas las nacionalidades ordenadas por orden alfabetico

                           Number
District Name Nationality
Ciutat Vella  Afghanistan      10
              Albania           9
              Algeria          75
              Andorra           1
              Angola            1

In [109]:
#####ahora o bien definimos una funcion o hacemos una lambda function que nos coja cada 
#valor de numeros ynos lo ordene de mayoor a menor , ponemos ascending False pq lo queremos 
#descending.

def sort_district(district):
    return district.sort_values(['Number'], ascending=False)

In [110]:
lambda district: district.sort_values(['Number'], ascending=False)

In [104]:
####ahora como ya hemos agrupado por Disctrict name y nationality, 
##vemos que está en negrita, eso significa que para pandas es un único index
## necesitamos decirle que nos haga un group by solo por el level 0 del index (por disctrict)
##group_keys parameter in groupby comes handy during apply operations that creates an additional 
##index column corresponding to the grouped columns[group_keys=True] , es decir, nos crea otro indice y 
##en este caso no nos interesa, por lo tanto, False


temp_df.groupby(level=0, group_keys=False).sort_values()

AttributeError: Cannot access callable attribute 'sort_values' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [112]:
## a temp_df2 hazme un group by por disctrict y aplicame la lambda function
temp_df2 = temp_df.groupby(level=0, group_keys=False).apply(lambda district: district.sort_values(['Number'], ascending=False))

In [117]:
###charáááán, we have it!!

temp_df2

                                         Number
District Name       Nationality
Ciutat Vella        Spain                  2542
                    Italy                  1275
                    Pakistan                998
                    France                  596
                    Bangladesh              566
                    Morocco                 434
                    United Kingdom          393
                    Philippines             368
                    India                   364
                    Argentina               319
                    Germany                 293
                    Colombia                269
                    Venezuela               266
                    United States           263
                    Brasil                  217
                    Netherlands             180
                    Chile                   177
                    Peru                    146
                    Russia                  145
                    Portugal                145
                    Mexico                  142
                    Romania                 136
                    China                   134
                    Sweden                  115
                    Ecuador                 107
                    Poland                  103
                    Honduras                102
                    Turkey                   99
                    Dominican Republic       75
                    Algeria                  75
...                                         ...
Sarrià-Sant Gervasi Zambia                    0
                    The Bahamas               0
                    Yemen                     0
                    Afghanistan               0
                    Sri Lanka                 0
                    Somalia                   0
                    Antigua and Barbuda       0
                    Bahrain                   0
                    Barbados                  0
                    Benin                     0
                    Botswana                  0
                    Cape Verde                0
                    Dominica                  0
                    Ethiopia                  0
                    Gabon                     0
                    Grenada                   0
                    Haiti                     0
                    Jamaica                   0
                    Kuwait                    0
                    Laos                      0
                    Libya                     0
                    Madagascar                0
                    Malta                     0
                    Mongolia                  0
                    Niger                     0
                    Oman                      0
                    Qatar                     0
                    Sierra Leone              0
                    Solomon Islands           0
                    Zimbabwe                  0

[1749 rows x 1 columns]

In [115]:
## podemos pedirle que nos enseñe x disctricts
temp_df2.loc[['Eixample', 'Ciutat Vella']]

                                     Number
District Name Nationality
Ciutat Vella  Spain                    2542
              Italy                    1275
              Pakistan                  998
              France                    596
              Bangladesh                566
              Morocco                   434
              United Kingdom            393
              Philippines               368
              India                     364
              Argentina                 319
              Germany                   293
              Colombia                  269
              Venezuela                 266
              United States             263
              Brasil                    217
              Netherlands               180
              Chile                     177
              Peru                      146
              Russia                    145
              Portugal                  145
              Mexico                    142
              Romania                   136
              China                     134
              Sweden                    115
              Ecuador                   107
              Poland                    103
              Honduras                  102
              Turkey                     99
              Dominican Republic         75
              Algeria                    75
...                                     ...
Eixample      Oman                        1
              Ivory Coast                 1
              Kyrgyzstan                  1
              Myanmar                     1
              Qatar                       1
              Madagascar                  1
              Sierra Leone                1
              Gabon                       0
              Jamaica                     0
              Namibia                     0
              Yemen                       0
              Antigua and Barbuda         0
              Bahrain                     0
              Barbados                    0
              Solomon Islands             0
              Grenada                     0
              Mali                        0
              Maldives                    0
              Uganda                      0
              Niger                       0
              Turkmenistan                0
              Cape Verde                  0
              Somalia                     0
              Congo                       0
              Togo                        0
              The Bahamas                 0
              Laos                        0
              Eritrea                     0
              São Tomé and Príncipe       0
              Zimbabwe                    0

[318 rows x 1 columns]

In [32]:
nationality_clean.loc[nationality.Nationality == 'No information'].sum()

Year                                                        149258
District Name    Ciutat VellaCiutat VellaCiutat VellaCiutat Vel...
Nationality      No informationNo informationNo informationNo i...
Number                                                          45
dtype: object

In [20]:
nationality_clean.to_csv('/Users/andressalomferrer/Desktop/ironhack/Projects/Project-Week-2-Barcelona/datasets/nationality_clean.csv')

In [23]:
gender = pd.read_csv('/Users/andressalomferrer/Desktop/ironhack/Projects/Project-Week-2-Barcelona/datasets/3.-Population/immigrants-emigrants-by-sex.csv')

In [24]:
gender_clean = gender.loc[(gender.Year == 2017),['Year', 'District Name','Gender','Immigrants']]

In [25]:
gender_clean.to_csv('/Users/andressalomferrer/Desktop/ironhack/Projects/Project-Week-2-Barcelona/datasets/gender_clean.csv')