# ANALYSIS

## Question to be answered

We want to answer the question: How are the immigrants in Barcelona in each District?

To answer that we will focus on:
- Immigrants in Barcelona by Age and District (2017)
- Immigrants in Barcelona by Gender and District (2017)
- Immigrants in Barcelona by Nationality and District (2017)

## First approach: Immigrants in Barcelona by Age and District

In [174]:
import pandas as pd
import numpy as np

In [175]:
i_by_age = pd.read_csv('datasets/3.-Population/immigrants-by-age_cleaned.csv')

In [176]:
i_by_age

      Unnamed: 0  Year District Name    Age  Immigrants
0              0  2017  Ciutat Vella    0-4         154
1              1  2017  Ciutat Vella    0-4          58
2              2  2017  Ciutat Vella    0-4          38
3              3  2017  Ciutat Vella    0-4          56
4              4  2017      Eixample    0-4          79
...          ...   ...           ...    ...         ...
1549        1549  2017    Sant Martí  >=100           0
1550        1550  2017    Sant Martí  >=100           0
1551        1551  2017    Sant Martí  >=100           0
1552        1552  2017    Sant Martí  >=100           0
1553        1553  2017     No consta  >=100           0

[1554 rows x 5 columns]

In [177]:
# as for the analysis we don't need the column year neither the index, we will drop them. 

i_by_age.drop(['Unnamed: 0', 'Year'], axis=1, inplace=True)

In [178]:
# We are changing the name of the columns to avoid white spaces
i_by_age.columns = ['District', 'Age', 'Num_Immigrants']

In [179]:
# We are checking the unique values for the column 'District' to be sure there are no surprises.
i_by_age.District.unique()

array(['Ciutat Vella', 'Eixample', 'Sants-Montjuïc', 'Les Corts',
       'Sarrià-Sant Gervasi', 'Gràcia', 'Horta-Guinardó', 'Nou Barris',
       'Sant Andreu', 'Sant Martí', 'No consta'], dtype=object)

In [180]:
# as we have a 'District' named 'No consta', and it is not a District at all, we check the values for it 'District' to determine if its relevant or not. 

i_by_age.groupby('District').sum()

                     Num_Immigrants
District
Ciutat Vella                  12611
Eixample                      19047
Gràcia                         7254
Horta-Guinardó                 7799
Les Corts                      4375
No consta                         2
Nou Barris                     8274
Sant Andreu                    6335
Sant Martí                    12720
Sants-Montjuïc                11683
Sarrià-Sant Gervasi            7227

In [181]:
# as there are just 2 values in 'No consta' district, we can avoid them.

i_by_age.drop(i_by_age.loc[i_by_age['District'] == 'No consta'].index, inplace=True)

In [182]:
i_by_age

          District    Age  Num_Immigrants
0     Ciutat Vella    0-4             154
1     Ciutat Vella    0-4              58
2     Ciutat Vella    0-4              38
3     Ciutat Vella    0-4              56
4         Eixample    0-4              79
...            ...    ...             ...
1548    Sant Martí  >=100               0
1549    Sant Martí  >=100               0
1550    Sant Martí  >=100               0
1551    Sant Martí  >=100               0
1552    Sant Martí  >=100               0

[1533 rows x 3 columns]

In [183]:
# As our dataset was initially considering neighborhoods, we have the data splitted in several rows for each district, so we need to group by District and Age.
i_by_age = i_by_age.groupby(['District', 'Age']).sum().reset_index()

In [184]:
i_by_age

                District    Age  Num_Immigrants
0           Ciutat Vella    0-4             306
1           Ciutat Vella  10-14             190
2           Ciutat Vella  15-19             601
3           Ciutat Vella  20-24            2157
4           Ciutat Vella  25-29            3433
..                   ...    ...             ...
205  Sarrià-Sant Gervasi  80-84              65
206  Sarrià-Sant Gervasi  85-89              49
207  Sarrià-Sant Gervasi  90-94              29
208  Sarrià-Sant Gervasi  95-99               6
209  Sarrià-Sant Gervasi  >=100               0

[210 rows x 3 columns]

In [185]:
i_by_age

                District    Age  Num_Immigrants
0           Ciutat Vella    0-4             306
1           Ciutat Vella  10-14             190
2           Ciutat Vella  15-19             601
3           Ciutat Vella  20-24            2157
4           Ciutat Vella  25-29            3433
..                   ...    ...             ...
205  Sarrià-Sant Gervasi  80-84              65
206  Sarrià-Sant Gervasi  85-89              49
207  Sarrià-Sant Gervasi  90-94              29
208  Sarrià-Sant Gervasi  95-99               6
209  Sarrià-Sant Gervasi  >=100               0

[210 rows x 3 columns]

In [186]:
# Now we will check the diferents ranges for 'Age'
i_by_age['Age'].unique()

array(['0-4', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39',
       '40-44', '45-49', '5-9', '50-54', '55-59', '60-64', '65-69',
       '70-74', '75-79', '80-84', '85-89', '90-94', '95-99', '>=100'],
      dtype=object)

In [187]:
# to get the data more structured, we will join rows by age considering the following groups: 0-19, 20-39, 40-64 and >= 64
group0_19 = i_by_age.loc[(i_by_age.Age.isin(['0-4','5-9','10-14','15-19'])),]
group20_39 = i_by_age.loc[(i_by_age.Age.isin(['20-24','25-29','30-34','35-39'])),]
group40_64 = i_by_age.loc[(i_by_age.Age.isin(['40-44','45-49','50-54','55-59', '60-64'])),]
group_65over = i_by_age.loc[(i_by_age.Age.isin(['65-69','70-79', '80-84', '85-89', '90-94', '95-99', '>=100'])),]

In [188]:
# we use apply to change all the values of this subdataframe to 0-19, as we want to group it. 
group0_19['Age'] = group0_19['Age'].apply(lambda x: '0-19')

/usr/local/Cellar/ipython/7.7.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [189]:
# After changing the values, we can group by district and age, summing up the number of immigrants. 
group0_19 = group0_19.groupby(['District', 'Age']).sum()

In [190]:
group0_19

                          Num_Immigrants
District            Age
Ciutat Vella        0-19            1341
Eixample            0-19            2037
Gràcia              0-19             836
Horta-Guinardó      0-19            1168
Les Corts           0-19             767
Nou Barris          0-19            1589
Sant Andreu         0-19             989
Sant Martí          0-19            1918
Sants-Montjuïc      0-19            1592
Sarrià-Sant Gervasi 0-19            1490

In [191]:
# as we need to repeat this operation some more times, we define a function to get these to operations in just one command.

In [192]:
def change_age(df, range):
    """
    Input: DataFrame, String
    Output: DataFrame
    
    # Change the Age field of the given DataFrame and return a grouped by and summed dataframe.
    """
    df['Age'] = df.Age.apply(lambda x : range)
    df = df.groupby(['District', 'Age']).sum()

    return df

In [193]:
# and we apply this function to all other subdataframes.
group20_39 = change_age(group20_39, '20-39')

/usr/local/Cellar/ipython/7.7.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [194]:
group20_39

                           Num_Immigrants
District            Age
Ciutat Vella        20-39            9113
Eixample            20-39           12829
Gràcia              20-39            4938
Horta-Guinardó      20-39            4619
Les Corts           20-39            2413
Nou Barris          20-39            4335
Sant Andreu         20-39            3488
Sant Martí          20-39            7496
Sants-Montjuïc      20-39            7398
Sarrià-Sant Gervasi 20-39            3467

In [195]:
group40_64 = change_age(group40_64, '40-64')
group_65over = change_age(group_65over, '>= 65')

/usr/local/Cellar/ipython/7.7.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [196]:
# we create a new dataframe concatenating all the groups of age
i_by_agegroups = pd.concat([group0_19, group20_39, group40_64, group_65over])

In [197]:
# and we order it by District and Age to get the format we want.
i_by_agegroups = i_by_agegroups.groupby(['District', 'Age']).sum()

In [198]:
i_by_agegroups

                           Num_Immigrants
District            Age
Ciutat Vella        0-19             1341
                    20-39            9113
                    40-64            1955
                    >= 65             133
Eixample            0-19             2037
                    20-39           12829
                    40-64            3343
                    >= 65             508
Gràcia              0-19              836
                    20-39            4938
                    40-64            1161
                    >= 65             215
Horta-Guinardó      0-19             1168
                    20-39            4619
                    40-64            1606
                    >= 65             255
Les Corts           0-19              767
                    20-39            2413
                    40-64             943
                    >= 65             173
Nou Barris          0-19             1589
                    20-39            4335
                    40-64            1984
                    >= 65             236
Sant Andreu         0-19              989
                    20-39            3488
                    40-64            1521
                    >= 65             201
Sant Martí          0-19             1918
                    20-39            7496
                    40-64            2747
                    >= 65             362
Sants-Montjuïc      0-19             1592
                    20-39            7398
                    40-64            2257
                    >= 65             282
Sarrià-Sant Gervasi 0-19             1490
                    20-39            3467
                    40-64            1812
                    >= 65             274

In [ ]:
total_byagegroup = i_by_agegroups.groupby(['Age']).sum()

In [241]:
total_byagegroup

       Num_Immigrants
Age
0-19            13727
20-39           60096
40-64           19329
>= 65            2639

In [215]:
all_immigrants = total_byagegroup.sum()

In [216]:
all_immigrants

Num_Immigrants    95791
dtype: int64

In [238]:
perc_0_19 = round(100 * (total_byagegroup.iloc[0] / int(all_immigrants)),2)
perc_20_39 = round(100 * (total_byagegroup.iloc[1] / int(all_immigrants)),2)
perc_40_64 = round(100 * (total_byagegroup.iloc[2] / int(all_immigrants)),2)
perc_65 = round(100 * (total_byagegroup.iloc[3] / int(all_immigrants)),2)

In [239]:
print(perc_0_19)
print(perc_20_39)
print(perc_40_64)
print(perc_65)

Num_Immigrants    14.33
Name: 0-19, dtype: float64
Num_Immigrants    62.74
Name: 20-39, dtype: float64
Num_Immigrants    20.18
Name: 40-64, dtype: float64
Num_Immigrants    2.75
Name: >= 65, dtype: float64

## Second approach: Population in Barcelona by District, Age and Gender

In [199]:
population = pd.read_csv('datasets/3.-Population/population_cleaned.csv')

In [200]:
population

       Unnamed: 0  Year District.Name  Gender   Age  Number
0               0  2017  Ciutat Vella    Male   0-4     224
1               1  2017  Ciutat Vella    Male   0-4      50
2               2  2017  Ciutat Vella    Male   0-4      43
3               3  2017  Ciutat Vella    Male   0-4      95
4               4  2017      Eixample    Male   0-4     124
...           ...   ...           ...     ...   ...     ...
14011       14011  2017    Sant Martí  Female  >=95      11
14012       14012  2017    Sant Martí  Female  >=95      41
14013       14013  2017    Sant Martí  Female  >=95      28
14014       14014  2017    Sant Martí  Female  >=95      57
14015       14015  2017    Sant Martí  Female  >=95      54

[14016 rows x 6 columns]

In [201]:
# as for the analysis we don't need the column year neither the index, we will drop them. 

population.drop(['Unnamed: 0', 'Year'], axis=1, inplace=True)

In [202]:
# We are changing the name of the columns to avoid white spaces
population = population.rename(columns = {'District.Name':'District', 'Number':'Num_Immigrants'})

In [203]:
population

           District  Gender   Age  Num_Immigrants
0      Ciutat Vella    Male   0-4             224
1      Ciutat Vella    Male   0-4              50
2      Ciutat Vella    Male   0-4              43
3      Ciutat Vella    Male   0-4              95
4          Eixample    Male   0-4             124
...             ...     ...   ...             ...
14011    Sant Martí  Female  >=95              11
14012    Sant Martí  Female  >=95              41
14013    Sant Martí  Female  >=95              28
14014    Sant Martí  Female  >=95              57
14015    Sant Martí  Female  >=95              54

[14016 rows x 4 columns]

In [204]:
# We are checking the unique values for the column 'Age' to be sure there are no surprises.
population['Age'].unique()

array(['0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39',
       '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74',
       '75-79', '80-84', '85-89', '90-94', '>=95'], dtype=object)

In [205]:
# the values are the same as the previous dataset, so we will group them in the same groups: 0-19, 20-39, 40-64 and >= 64
pop_group0_19 = population.loc[(population.Age.isin(['0-4','5-9','10-14','15-19'])),]
pop_group20_39 = population.loc[(population.Age.isin(['20-24','25-29','30-34','35-39'])),]
pop_group40_64 = population.loc[(population.Age.isin(['40-44','45-49','50-54','55-59', '60-64'])),]
pop_group_65over = population.loc[(population.Age.isin(['65-69','70-79', '80-84', '85-89', '90-94', '95-99', '>=100'])),]

In [206]:
pop_group0_19

          District  Gender    Age  Num_Immigrants
0     Ciutat Vella    Male    0-4             224
1     Ciutat Vella    Male    0-4              50
2     Ciutat Vella    Male    0-4              43
3     Ciutat Vella    Male    0-4              95
4         Eixample    Male    0-4             124
...            ...     ...    ...             ...
8463    Sant Martí  Female  15-19              47
8464    Sant Martí  Female  15-19             110
8465    Sant Martí  Female  15-19              96
8466    Sant Martí  Female  15-19             105
8467    Sant Martí  Female  15-19             138

[2920 rows x 4 columns]

In [207]:
# we define a similar function of previous one, but considering the grouping by gender as well.
def change_age_gender(df, range):
    """
    Input: DataFrame, String
    Output: DataFrame
    
    # Change the Age field of the given DataFrame and return a grouped by and summed dataframe.
    """
    df['Age'] = df['Age'].apply(lambda x : range)
    df = df.groupby(['District', 'Age', 'Gender']).sum()

    return df

In [208]:
# we apply the function to all 4 groups of age

pop_group0_19 = change_age_gender(pop_group0_19, "0-19")
pop_group20_39 = change_age_gender(pop_group20_39, "20-39")
pop_group40_64 = change_age_gender(pop_group40_64, "40-64")
pop_group_65over = change_age_gender(pop_group_65over, ">= 65")

/usr/local/Cellar/ipython/7.7.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [210]:
# we create a new dataframe concatenating all the groups of age
population_agegroups = pd.concat([pop_group0_19, pop_group20_39, pop_group40_64, pop_group_65over])

In [211]:
# and we order it by District, Age and Gender Age to get the format we want.
population_agegroups = population_agegroups.groupby(['District', 'Age', 'Gender']).sum()

In [212]:
population_agegroups

                                  Num_Immigrants
District            Age   Gender
Ciutat Vella        0-19  Female            6830
                          Male              7685
                    20-39 Female           18872
                          Male             21744
                    40-64 Female           14473
...                                          ...
Sarrià-Sant Gervasi 20-39 Male             16728
                    40-64 Female           27250
                          Male             23058
                    >= 65 Female           11652
                          Male              7232

[80 rows x 1 columns]