# ANALYSIS

## Question to be answered

We want to answer the question: How are the immigrants in Barcelona in each District?

To answer that we will focus on:
- Immigrants in Barcelona by Age and District
- Immigrants in Barcelona by Gender and District
- Immigrants in Barcelona by Nationality and District

And after that, we will compare this data with the population of Barcelona by District

## First approach: Immigrants in Barcelona by Age and District

In [3]:
import pandas as pd
import numpy as np

In [6]:
i_by_age = pd.read_csv('datasets/3.-Population/immigrants-by-age_cleaned.csv')

In [7]:
i_by_age

      Unnamed: 0  Year District Name    Age  Immigrants
0              0  2017  Ciutat Vella    0-4         154
1              1  2017  Ciutat Vella    0-4          58
2              2  2017  Ciutat Vella    0-4          38
3              3  2017  Ciutat Vella    0-4          56
4              4  2017      Eixample    0-4          79
...          ...   ...           ...    ...         ...
1549        1549  2017    Sant Martí  >=100           0
1550        1550  2017    Sant Martí  >=100           0
1551        1551  2017    Sant Martí  >=100           0
1552        1552  2017    Sant Martí  >=100           0
1553        1553  2017     No consta  >=100           0

[1554 rows x 5 columns]