# DATASET CLEANING

In [2]:
import pandas as pd
import numpy as np

## First Dataset: Immigrants - Emigrants by Age

In [3]:
# first we import the csv file as a dataset called i_by_age
i_by_age = pd.read_csv('datasets/3.-Population/immigrants-emigrants-by-age.csv')

In [4]:
# we check the datatypes
i_by_age.dtypes

Year                  int64
District Code         int64
District Name        object
Neighborhood Code     int64
Neighborhood Name    object
Age                  object
Immigrants            int64
Emigrants             int64
dtype: object

In [5]:
# and we check how is our dataset
i_by_age

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Age,Immigrants,Emigrants
0,2017,1,Ciutat Vella,1,el Raval,0-4,154,108
1,2017,1,Ciutat Vella,2,el Barri Gòtic,0-4,58,33
2,2017,1,Ciutat Vella,3,la Barceloneta,0-4,38,37
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",0-4,56,55
4,2017,2,Eixample,5,el Fort Pienc,0-4,79,60
...,...,...,...,...,...,...,...,...
4657,2015,10,Sant Martí,70,el Besòs i el Maresme,>=100,0,1
4658,2015,10,Sant Martí,71,Provençals del Poblenou,>=100,0,0
4659,2015,10,Sant Martí,72,Sant Martí de Provençals,>=100,0,0
4660,2015,10,Sant Martí,73,la Verneda i la Pau,>=100,0,0
4661,2015,99,No consta,99,No consta,>=100,0,0

In [6]:
# We will focus on immigrants by District and Age in Year 2017, so we will delete the columns District Code, Neighborhood Code, Neighborhoode Name and Emigrants

i_by_age.loc[i_by_age.Year == 2017, ['Year', 'District Name', 'Age', 'Immigrants']]

      Year District Name    Age  Immigrants
0     2017  Ciutat Vella    0-4         154
1     2017  Ciutat Vella    0-4          58
2     2017  Ciutat Vella    0-4          38
3     2017  Ciutat Vella    0-4          56
4     2017      Eixample    0-4          79
...    ...           ...    ...         ...
1549  2017    Sant Martí  >=100           0
1550  2017    Sant Martí  >=100           0
1551  2017    Sant Martí  >=100           0
1552  2017    Sant Martí  >=100           0
1553  2017     No consta  >=100           0

[1554 rows x 4 columns]

In [7]:
# As we have the dataset as we want, we can export to a new csv file. Altough we selected all 2017 rows and we could remove this column, we are keeping it as a note for future readings.

i_by_age.loc[i_by_age.Year == 2017, ['Year', 'District Name', 'Age', 'Immigrants']].to_csv('datasets/3.-Population/immigrants-by-age_cleaned.csv')

## Second Dataset: Population

In [8]:
# we import the csv file as a dataset called i_by_age
population = pd.read_csv('datasets/3.-Population/population.csv')

In [9]:
# we check the datatypes
population.dtypes

Year                  int64
District.Code         int64
District.Name        object
Neighborhood.Code     int64
Neighborhood.Name    object
Gender               object
Age                  object
Number                int64
dtype: object

In [10]:
# and we check how is our dataset
population

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124
...,...,...,...,...,...,...,...,...
70075,2013,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Female,>=95,21
70076,2013,10,Sant Martí,70,el Besòs i el Maresme,Female,>=95,25
70077,2013,10,Sant Martí,71,Provençals del Poblenou,Female,>=95,31
70078,2013,10,Sant Martí,72,Sant Martí de Provençals,Female,>=95,38
70079,2013,10,Sant Martí,73,la Verneda i la Pau,Female,>=95,47

In [11]:
# We will focus on the population by District, Gender and Age in Year 2017, so we will delete the columns District.Code, Neighborhood.Code and Neighborhoode.Name

population.loc[population.Year == 2017, ['Year', 'District.Name', 'Gender', 'Age', 'Number']]

       Year District.Name  Gender   Age  Number
0      2017  Ciutat Vella    Male   0-4     224
1      2017  Ciutat Vella    Male   0-4      50
2      2017  Ciutat Vella    Male   0-4      43
3      2017  Ciutat Vella    Male   0-4      95
4      2017      Eixample    Male   0-4     124
...     ...           ...     ...   ...     ...
14011  2017    Sant Martí  Female  >=95      11
14012  2017    Sant Martí  Female  >=95      41
14013  2017    Sant Martí  Female  >=95      28
14014  2017    Sant Martí  Female  >=95      57
14015  2017    Sant Martí  Female  >=95      54

[14016 rows x 5 columns]

In [13]:
# As we have the dataset as we want, we can export to a new csv file. Altough we selected all 2017 rows and we could remove this column, we are keeping it as a note for future readings.

population.loc[population.Year == 2017, ['Year', 'District.Name', 'Gender', 'Age', 'Number']].to_csv('datasets/3.-Population/population_cleaned.csv')