In [9]:
import numpy as np 
import pandas as pd 
import xlrd

In [13]:
## start importing a dataset

In [29]:
i_by_age = pd.read_csv('datasets/3.-Population/immigrants-emigrants-by-age.csv')

In [30]:
i_by_age

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Age,Immigrants,Emigrants
0,2017,1,Ciutat Vella,1,el Raval,0-4,154,108
1,2017,1,Ciutat Vella,2,el Barri Gòtic,0-4,58,33
2,2017,1,Ciutat Vella,3,la Barceloneta,0-4,38,37
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",0-4,56,55
4,2017,2,Eixample,5,el Fort Pienc,0-4,79,60
...,...,...,...,...,...,...,...,...
4657,2015,10,Sant Martí,70,el Besòs i el Maresme,>=100,0,1
4658,2015,10,Sant Martí,71,Provençals del Poblenou,>=100,0,0
4659,2015,10,Sant Martí,72,Sant Martí de Provençals,>=100,0,0
4660,2015,10,Sant Martí,73,la Verneda i la Pau,>=100,0,0
4661,2015,99,No consta,99,No consta,>=100,0,0

In [31]:
i_by_sex = pd.read_csv('datasets/3.-Population/immigrants-emigrants-by-sex.csv')

In [32]:
i_by_sex

,Year,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Immigrants,Emigrants
0,2017,1,Ciutat Vella,1,el Raval,Male,3063,1195
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,1499,427
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,910,361
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,1438,502
4,2017,2,Eixample,5,el Fort Pienc,Male,1082,495
...,...,...,...,...,...,...,...,...
725,2013,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Female,261,206
726,2013,10,Sant Martí,70,el Besòs i el Maresme,Female,568,455
727,2013,10,Sant Martí,71,Provençals del Poblenou,Female,360,305
728,2013,10,Sant Martí,72,Sant Martí de Provençals,Female,446,355
729,2013,10,Sant Martí,73,la Verneda i la Pau,Female,505,426

In [33]:
i_by_dest = pd.read_csv('datasets/3.-Population/immigrants-emigrants-by-destination.csv')

In [34]:
i_by_dest

                   from                   to  weight
0                Abroad            Barcelona   53085
1             Andalusia            Barcelona    2416
2                Aragon            Barcelona     811
3              Asturias            Barcelona     323
4      Balearic Islands            Barcelona    1634
5             Barcelona               Abroad    5485
6             Barcelona            Andalusia    1596
7             Barcelona               Aragon     745
8             Barcelona             Asturias     204
9             Barcelona     Balearic Islands    1428
10            Barcelona       Basque Country     475
11            Barcelona       Canary Islands     789
12            Barcelona            Cantabria     132
13            Barcelona     Castile and León     517
14            Barcelona   Castilla-La Mancha     347
15            Barcelona            Catalonia   35036
16            Barcelona                Ceuta      12
17            Barcelona  Community of Madrid    2647
18            Barcelona          Extremadura     201
19            Barcelona              Galicia     795
20            Barcelona             La Rioja      72
21            Barcelona              Melilla      27
22            Barcelona              Navarre     186
23            Barcelona     Region of Murcia     243
24            Barcelona  Valencian Community    1711
25       Basque Country            Barcelona     710
26       Canary Islands            Barcelona     863
27            Cantabria            Barcelona     162
28     Castile and León            Barcelona     814
29   Castilla-La Mancha            Barcelona     445
30            Catalonia            Barcelona   28779
31                Ceuta            Barcelona      24
32  Community of Madrid            Barcelona    2942
33          Extremadura            Barcelona     240
34              Galicia            Barcelona     983
35             La Rioja            Barcelona     129
36              Melilla            Barcelona      60
37              Navarre            Barcelona     246
38     Region of Murcia            Barcelona     354
39  Valencian Community            Barcelona    2305

In [38]:
i_by_dest.columns = ['origin', 'destination', 'quantity']

In [39]:
i_by_dest

                 origin          destination  quantity
0                Abroad            Barcelona     53085
1             Andalusia            Barcelona      2416
2                Aragon            Barcelona       811
3              Asturias            Barcelona       323
4      Balearic Islands            Barcelona      1634
5             Barcelona               Abroad      5485
6             Barcelona            Andalusia      1596
7             Barcelona               Aragon       745
8             Barcelona             Asturias       204
9             Barcelona     Balearic Islands      1428
10            Barcelona       Basque Country       475
11            Barcelona       Canary Islands       789
12            Barcelona            Cantabria       132
13            Barcelona     Castile and León       517
14            Barcelona   Castilla-La Mancha       347
15            Barcelona            Catalonia     35036
16            Barcelona                Ceuta        12
17            Barcelona  Community of Madrid      2647
18            Barcelona          Extremadura       201
19            Barcelona              Galicia       795
20            Barcelona             La Rioja        72
21            Barcelona              Melilla        27
22            Barcelona              Navarre       186
23            Barcelona     Region of Murcia       243
24            Barcelona  Valencian Community      1711
25       Basque Country            Barcelona       710
26       Canary Islands            Barcelona       863
27            Cantabria            Barcelona       162
28     Castile and León            Barcelona       814
29   Castilla-La Mancha            Barcelona       445
30            Catalonia            Barcelona     28779
31                Ceuta            Barcelona        24
32  Community of Madrid            Barcelona      2942
33          Extremadura            Barcelona       240
34              Galicia            Barcelona       983
35             La Rioja            Barcelona       129
36              Melilla            Barcelona        60
37              Navarre            Barcelona       246
38     Region of Murcia            Barcelona       354
39  Valencian Community            Barcelona      2305

In [45]:
i_by_origin = i_by_dest.loc[i_by_dest.origin != 'Barcelona', ['origin', 'quantity']].copy()

In [46]:
i_by_origin

                 origin  quantity
0                Abroad     53085
1             Andalusia      2416
2                Aragon       811
3              Asturias       323
4      Balearic Islands      1634
25       Basque Country       710
26       Canary Islands       863
27            Cantabria       162
28     Castile and León       814
29   Castilla-La Mancha       445
30            Catalonia     28779
31                Ceuta        24
32  Community of Madrid      2942
33          Extremadura       240
34              Galicia       983
35             La Rioja       129
36              Melilla        60
37              Navarre       246
38     Region of Murcia       354
39  Valencian Community      2305

In [47]:
i_by_origin.reset_index(inplace=True)

In [52]:
i_by_origin.loc[ :,['origin', 'quantity']]

                 origin  quantity
0                Abroad     53085
1             Andalusia      2416
2                Aragon       811
3              Asturias       323
4      Balearic Islands      1634
5        Basque Country       710
6        Canary Islands       863
7             Cantabria       162
8      Castile and León       814
9    Castilla-La Mancha       445
10            Catalonia     28779
11                Ceuta        24
12  Community of Madrid      2942
13          Extremadura       240
14              Galicia       983
15             La Rioja       129
16              Melilla        60
17              Navarre       246
18     Region of Murcia       354
19  Valencian Community      2305

In [53]:
i_by_origin.to_csv('datasets/3.-Population/immigrants-by-origin_cleaned.csv')