In [5]:
import sqlalchemy
import pandas as pd

In [18]:
conn_string = 'mysql+pymysql://Estefania:Analytics@34.65.210.71:3306/Project2'

In [19]:
conn = sqlalchemy.create_engine(conn_string)

In [20]:
ds1 = pd.read_csv('datasets/3.-Population/immigrants-by-age_cleaned.csv')

In [22]:
ds1.to_sql('immigrants_by_age', conn, index=False)

ValueError: Table 'immigrants_by_age' already exists.

In [23]:
ds2 = pd.read_csv('datasets/3.-Population/population_cleaned.csv')
ds3 = pd.read_csv('datasets/gender_cleaned.csv')
ds4 = pd.read_csv('datasets/nationality_cleaned.csv')

In [24]:
ds2.to_sql('population', conn, index=False)
ds3.to_sql('immigrants_by_gender', conn, index=False)
ds4.to_sql('immigrants_by_nationality', conn, index=False)